.homeSection {
  height: 100vh;
}

.homeSection header {
  overflow: hidden;
}

.homeSection{
  background-image: url(https://images3.alphacoders.com/794/794939.jpg);
  background-position: center;
  background-size: cover;
}

.homeSection .welcomeText{
  padding-top: 8rem;
  text-align: center;
}

.recentSection {
  padding-top: 3rem;
}

.card:hover {
  border: 1px solid white;
  cursor: pointer;
}
