.bigWallSection {
  padding-top: 4rem;
}

.bigWallSection .container {
  overflow: hidden;
}

.img-fluid {
  overflow: hidden;
}

.actionsBar {
}

.actionsBar .btn {
  border-radius: 0;
  margin-top: 5px;
  padding: 5px 0;
  }

.actionsBar button {
  margin-left: 0px !important;
}

@media (max-width: 576px) {
  .actionsBar .btn {
    margin-top: 5px;
  }

  .actionsBar {
    margin-left: 0px;
  }
}
/* Pantalla Mediana*/
@media (min-width: 576px){
  .actionsBar .btn {
    margin-top: 0px;
  }

  .actionsBar {
    margin-left: -15px;
    padding: 0px;
  }
}
